@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.number-section {
  text-align: center;
}
h3 {
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}
input {
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #eee;
  border-color: #000;
  box-shadow: none;

  animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}
